@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;0,800;1,200;1,300;1,400;1,600;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");

html {
  scroll-snap-type: y mandatory;
}

body {
  font-family: "Raleway", sans-serif;
}

// ======================= CSS for Posts.jsx ===========================

.home-page {
  //   scroll-snap-align: start;
}

.main-header {
  width: 32%;
  padding-left: 4%;
  padding-top: 250px;
  box-shadow: border-box;
  position: sticky;
  top: 0;
}

.main-header > h1 {
  font-size: 100px;
  margin: 0;
  background: -webkit-linear-gradient(
    -86deg,
    #e6b8d8 5%,
    #aba4d2 53%,
    #777da3 91%
  );
  -webkit-background-clip: text;
  -webkit-text-stroke: 5px transparent;
  color: #232d2d;
  -webkit-text-fill-color: white;
}

.main-header > h3 {
  letter-spacing: 2.4px;
  margin-top: 0px;
  color: #3e4877;
}

.sub-main-header {
}

$leftborder1: #b0b9d9;
$leftborder2: #777da3;
$leftborder3: #aba4d2;
$leftborder4: #e6b8d8;

.all-posts-wrapper {
  width: 62%;
  margin-left: 42%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: -400px;

  &:nth-child(4n + 1) > .post-grid > .post-wrapper > .title-rating-wrapper {
    //border-color: hsla(random(365), random(365), 50, 1);
    border-left: 5px solid $leftborder1;
  }
  &:nth-child(4n + 2) > .post-grid > .post-wrapper > .title-rating-wrapper {
    border-left: 5px solid $leftborder2;
  }
  &:nth-child(4n + 3) > .post-grid > .post-wrapper > .title-rating-wrapper {
    border-left: 5px solid $leftborder3;
  }
  &:nth-child(4n + 4) > .post-grid > .post-wrapper > .title-rating-wrapper {
    border-left: 5px solid $leftborder4;
  }
}

.share-btn {
  width: 375px;
  height: 40px;
  //   border-radius: 30px;
  //   color: white;
  //   background: linear-gradient(180deg, #aba4d2 10%, #e6b8d8 100%);
  //   border: none;

  border: 1px;
  border-image: linear-gradient(45deg, #3e4877 0%, #e6b8d8 100%);
  border-image-slice: 9;
  border-style: solid;
  background: none;
  color: #3e4877;
}

.share-btn > h3 {
  margin: 0;
}

.share-btn:hover,
.share-btn:focus {
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em -0.4em #3e4877;
  transform: translateY(-0.5em);
  animation: pulse 1s;
  box-shadow: 0 0 0 0.5em rgba(#fff, 0);
  background: linear-gradient(180deg, #aba4d2 10%, #e6b8d8 100%);
  border: none;
  color: white;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #aba4d2;
  }
}

section {
  //   scroll-snap-align: start;
}

.post-wrapper {
  width: 90%;
}

// .post-grid:hover {
//   border-radius: 0px;
//   background: #ffffff;
//   box-shadow: inset 20px 20px 60px #d9d9d9, inset -20px -20px 60px #ffffff;
// }

// ============================ CSS for animation.jsx===============================================

.animation-wrapper {
  width: 400px;
}

.post-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.text-rating-wrapper {
  margin-left: 100px;
}

.animation-wrapper > a > .container {
  width: 60%;
}

.animation-wrapper > a > .container:hover {
  transform: scale(1.6);
}

.post-animation-title {
  padding: 10px;
}

.post-animation-score {
  padding: 10px;
}

// ============================ CSS for EachPost.jsx===============================================

.container {
  width: 100%;
  height: 100%;
}

.each-post-container {
  display: flex;
}

.animation-side {
  width: 48%;
}

.review-side {
  width: 48%;
  margin: 15px auto;
  align-items: center;
  text-align: center;
  left: 77%;
  transform: translate(-60%, 0);
  position: fixed;
}
//============================ CSS for EachPostDetails.jsx ==============================

.each-post-details-container {
  text-align: center;
}

.post-info > h3 {
  color: #3e4877;
}

.post-button-div > span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.get-code-btn {
  height: 26px;
  //   margin-top: 13px;
  width: 150px;
  border: 1px;
  border-image: linear-gradient(45deg, #3e4877 0%, #e6b8d8 100%);
  border-image-slice: 9;
  border-style: solid;
  background: none;
  color: #3e4877;
  margin-right: 7px;
}
.get-code-btn:hover,
.get-code-btn:focus {
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em -0.4em #3e4877;
  transform: translateY(-0.5em);
  animation: pulse 1s;
  box-shadow: 0 0 0 0.5em rgba(#fff, 0);
  background: linear-gradient(180deg, #aba4d2 10%, #e6b8d8 100%);
  border: none;
  color: white;
}

.average-score {
  color: #777da3;
  font-style: italic;
  font-size: 13px;
}

.total-reviews {
  color: #777da3;

  font-size: 13px;
}

//============================= CSS for DownloadBtn.jsx =======================

.react-download-container > button > span {
  float: right;
  margin-top: 4px;
  margin-left: 5px;
}

.react-download-container > button {
  height: 26px;
  //   margin-top: 13px;
  border: 1px;
  border-image: linear-gradient(45deg, #3e4877 0%, #e6b8d8 100%);
  border-image-slice: 9;
  border-style: solid;
  background: none;
  color: #3e4877;
  margin-left: 7px;
}

.react-download-container > button:hover,
.react-download-container > button:focus {
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em -0.4em #3e4877;
  transform: translateY(-0.5em);
  animation: pulse 1s;
  box-shadow: 0 0 0 0.5em rgba(#fff, 0);
  background: linear-gradient(180deg, #aba4d2 10%, #e6b8d8 100%);
  border: none;
  color: white;
}

// ============================ CSS for ReviewForm ============================ //

input[type="radio"] {
  display: none;
}

.review-star {
  cursor: pointer;
}

//============================ CSS for AllReview.jsx ==========================

$color2: #eef1ff;

$highlight1: #b0b9d9;
$highlight2: #777da3;
$highlight3: #aba4d2;
$highlight4: #e6b8d8;

.one-review {
  //   border: dashed #8a7ef8 1px;
  background: #eef1ff;
  //   border-radius: 30px;
  margin: 30px auto;
  padding-left: 40px;
  position: relative;
  width: 450px;

  &:nth-child(2n) {
    border-left: 5px solid;
  }
  &:nth-child(2n):after {
    content: "";
    margin-top: -30px;
    padding-top: 0px;
    position: relative;
    bottom: 10px;
    left: 440px;
    border-width: 0 30px 30px 0;
    border-style: solid;
    border-color: $color2 transparent;
    display: block;
    width: 0;
  }
  //  Border and arrow right
  &:nth-child(2n + 1) {
    border-right: 5px solid;
  }
  &:nth-child(2n + 1):after {
    content: "";
    margin-top: -30px;
    padding-top: 0px;
    position: relative;
    bottom: 10px;
    left: -60px;
    border-width: 0 0 30px 30px;
    border-style: solid;
    border-color: $color2 transparent;
    display: block;
    width: 0;
  }

  // Randomize every 4th bubble's border color
  &:nth-child(4n + 1) {
    //border-color: hsla(random(365), random(365), 50, 1);
    border-color: $highlight1;
  }
  &:nth-child(4n + 2) {
    border-color: $highlight4;
  }
  &:nth-child(4n + 3) {
    border-color: $highlight2;
  }
  &:nth-child(4n + 4) {
    border-color: $highlight3;
  }
}

.one-review-title {
  margin: 0;
  padding-top: 10px;
  font-style: italic;
  font-weight: 600;
}

.one-review-description {
  margin: 0;
  padding-bottom: 10px;
  font-size: 12px;
  font-style: italic;
}
//============================= CSS for NewPost.jsx =======================

.form-share-anim {
  width: 48%;
  display: inline-block;
}

.share-form {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  margin: 20px;
  position: relative;
}

.share-form > h3 {
  color: #3e4877;
}

.share-form > form > textarea {
  margin: 0px;
  height: 433px;
  width: 100%;
  height: 90%;
  border: 1px;
  border-image: linear-gradient(45deg, #3e4877 0%, #e6b8d8 100%);
  border-image-slice: 9;
  border-style: solid;
  outline: none;
  font-family: "Raleway", sans-serif;
  font-style: italic;
  padding: 10px;
  font-size: 15px;
  color: #3e4877;
}

.share-form input {
  width: 80%;
  height: 30px;
  outline: none;
  height: 100%;
  color: #6671aa;
  padding-top: 13px;
  border: 1px;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-style: italic;
  padding: 10px;
  color: #3e4877;

  border-image: linear-gradient(45deg, #3e4877 0%, #e6b8d8 100%);
  border-image-slice: 1;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 27px;
}

.share-form > form > button {
  width: 49%;
  height: 35px;
  margin-top: 13px;
  border: 1px;
  border-image: linear-gradient(45deg, #3e4877 0%, #e6b8d8 100%);
  border-image-slice: 9;
  border-style: solid;
  background: none;
  color: #3e4877;
  outline: none;
}
.share-form > form > a > button {
  margin-left: 12px;
  width: 49%;
  height: 35px;
  margin-top: 13px;
  border: 1px;
  border-image: linear-gradient(45deg, #3e4877 0%, #e6b8d8 100%);
  border-image-slice: 9;
  border-style: solid;
  background: none;
  color: #3e4877;
  outline: none;
}

.cancel > h3 {
  color: #9da2c1;
  margin: 0px;
}

.share-form > form > button:hover,
.share-form > form > button:focus {
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em -0.4em #3e4877;
  transform: translateY(-0.5em);
  animation: pulse 1s;
  box-shadow: 0 0 0 0.5em rgba(#fff, 0);
  background: linear-gradient(180deg, #aba4d2 10%, #e6b8d8 100%);
  border: none;
  color: white;
  outline: none;
}

.cancel:hover,
.cancel:focus {
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em -0.4em #3e4877;
  transform: translateY(-0.5em);
  animation: pulse 1s;
  box-shadow: 0 0 0 0.5em rgba(#fff, 0);
  background: linear-gradient(180deg, #aba4d2 10%, #e6b8d8 100%);
  border: none;
  color: white;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #aba4d2;
  }
}

.share-form > form > button > h3 {
  margin: 0;
}

.share-form > p {
  font-style: italic;
  color: #6671aa;
}

//======================== CSS for ReviewForm.jsx =======================
.form-wrapper input {
  width: 70%;
  height: 30px;
  outline: none;
  height: 100%;
  color: #6671aa;
  padding-top: 13px;
  border: 1px;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-style: italic;
  padding: 10px;
  color: #3e4877;

  border-image: linear-gradient(45deg, #3e4877 0%, #e6b8d8 100%);
  border-image-slice: 1;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 27px;
}

.review-form-form {
  margin-top: 35%;
}

.form-wrapper {
  border: 2px dashed #b0b9d9;
  margin-left: 8%;
  width: 93%;
  height: 650px;
  border-radius: 40px;
  position: relative;
}

.form-wrapper2 {
  height: 98%;
  border: 1.5px dashed #777da3;
  width: 99%;
  height: 99.4%;
  border-radius: 48px;
  margin: 0 auto;
  position: absolute;
  top: -20px;
  left: -30px;
}

.form-wrapper3 {
  height: 98%;
  border: 1px solid #aba4d2;
  width: 99.3%;
  height: 99.3%;
  border-radius: 35px;
  position: absolute;
  top: 31px;
  right: -15px;
}

.form-wrapper4 {
  height: 98%;
  border: 1px solid #e6b8d8;
  width: 99.3%;
  height: 99.3%;
  border-radius: 35px;
  position: absolute;
  top: 31px;
  right: -15px;
}

.review-form-form > h4 {
  color: #3e4877;
}

.rating-container > h4 {
  color: #3e4877;
}
//========================= CSS for Instruction.jsx ========================
.para {
  margin: 0 auto;
  width: 70%;
}
.text-wrapper {
  width: 90%;
  padding: 20px;
  padding-left: 50px;
  position: relative;
}
.code-snippet {
  width: 70%;
  margin: 0 auto;
  background: #f6f7fd;
  font-family: "Hind Siliguri", sans-serif;
}
.bash-wrapper {
  width: 90%;
  padding: 20px;
  padding-left: 50px;
  position: relative;
}

.bash {
  width: 70%;
  margin: 0 auto;
  background: #f6f7fd;
  font-family: "Hind Siliguri", sans-serif;
}

.bash-p {
  position: absolute;
  top: -10px;
  right: -18px;
  color: lightgrey;
  font-size: 15px;
}
