.post-grid {
  width: 500px;
  height: 600px;
}

.container {
  width: 100%;
  height: 100%;
}

.post-wrapper {
  width: 400px;
  height: 400px;
}

.each-post-container {
  display: flex;
}

.animation-side {
  width: 48%;
}

.review-side {
  width: 48%;
  margin: 15px auto;
  align-items: center;
  text-align: center;
}

// ============================ CSS for ReviewForm ============================ //

input[type="radio"] {
  display: none;
}

.review-star {
  cursor: pointer;
}
